DATABASE_URL_ASYNC=postgresql+asyncpg://app:pass@db_dev:5432/app_db
DATABASE_URL_SYNC=postgresql+psycopg://app:pass@db_dev:5432/app_db

CELERY_BROKER_URL=amqp://app:pass@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/0

# on host. for migration
DATABASE_URL_SYNC_=postgresql+psycopg://app:pass@localhost:5432/app_db

SECRET_KEY=btF3kQ7VxP2M8sLZrWcD3Hn6JUtUeB6m4C1AqK
ACCESS_TOKEN_EXPIRE_MINUTES=60
